
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml


/coverage


*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform/
crash.log
crash.*.log
*.tfplan
*.tfvars
*.tfvars.json


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


/swagger-output.json


logs
*.log


.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace


/dist
/build
